.lo{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    .lo-aside{
        position: absolute;
        left: 0;
        top: 0;
        bottom:0;
        width: 170px;
        .lo-link-row{
            line-height: 30px;
            a{
                text-decoration: none;
                color:#000;
            }
            a.on{
                color:red;
            }
        }
    }
    .lo-main{
        position: absolute;
        left: 170px;
        top: 0;
        bottom:0;
        right: 0;
    }
}